@import "tailwindcss";

:root {
  --background: #d8b4a6;
  --foreground: #5c1135;
  --deep-aubergine: #2e1a47;
  --bordeaux: #5c1135;
  --dusty-rose: #9e3d56;
  --slate-gray: #2a2f36;
  --champagne: #d8b4a6;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --deep-aubergine: var(--deep-aubergine);
  --bordeaux: var(--bordeaux);
  --dusty-rose: var(--dusty-rose);
  --slate-gray: var(--slate-graye);
  --champagne: var(--champagne);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #d8b4a6;
    --foreground: #5c1135;
  }
}

html {
  @apply bg-[var(--background)] text-[var(--foreground)]  antialiased;
}

nextjs-portal {
  display: none;
}
